body {
  font-family: Roboto, sans-serif;
  background: #fff;
  color: #2e2f42;
}
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}
h1 {
  color: #fff;
  text-align: center;
  padding-left: 472px;
  padding-right: 472px;
  padding-top: 188px;
  padding-bottom: 48px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.hero-btr {
  border-radius: 4px;
  background: #4d5ae5;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
  margin: 0 auto;
  display: block;
  color: #fff;
  cursor: pointer;
}
.hero-btr:hover,
fon-btr:focus {
  background: #404bbf;
}
.logo {
  font-family: Raleway, sans-serif;
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 156px;
}

.logo-fotter {
  font-family: Raleway, sans-serif;
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  margin-top: 100px;
  margin-bottom: 18px;
  margin-left: 156px;
  margin-right: 1169px;
}
.top {
  display: inline;
}

.connection {
  display: inline;
  text-decoration: none;
}

.accent {
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.left-hend {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: inherit;
  padding-left: 347px;
  padding-top: 24px;
}
.left-hend:hover {
  color: #404bbf;
}
.left-hend:active {
  color: #404bbf;
  text-decoration: underline;
}
.middle {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: inherit;
}
.middle:hover {
  color: #404bbf;
}

.right-hend {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  color: inherit;
}
.right-hend:hover {
  color: #404bbf;
}

.mail {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}
.mail:hover {
  color: #404bbf;
}
.tel {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.tel:hover {
  color: #404bbf;
}
.topchic {
  display: flex;
  width: 1440px;
  height: 72px;
  align-items: center;
  flex-shrink: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}
.action-plan {
  color: inherit;
  font-family: inherit;
}
.explanations {
  color: #434455;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.directions {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.chek {
  display: inline;
}
.team-photo {
  display: inline;
}
.leaders {
  font-family: inherit;
  color: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.prof {
  font-family: inherit;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.name {
  font-family: inherit;
  color: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.foto-item {
  display: inline;
}
.portfo {
  font-family: inherit;
  color: inherit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}
.service {
  font-family: inherit;
  color: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.short-description {
  font-family: inherit;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
